<div class="column">
	<a href="{{ post.url}}">					
		<div class="card">
			<img class="card-img" src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
			<div class="container">
				<h3>{{ post.data.title }}</h3>
				<p class="title">{{ post.date | postDate}}</p>
				<p><a href="{{ post.url}}"><button class="button">Bekijken</button></a></p>
			</div>
		</div>
	</a>
</div>