<div class="column">					
		<div class="card">
			<a href="{{ post.url}}">
			<img class="card-img" src="{{post.data.image}}" alt="{{post.data.imageAlt}}">
			<div class="container">
				<div>
					<h3>{{ post.data.title }}</h3>
					<p class="title">{{ post.date | postDate}}</p>
				</div>
				<div>
					<p><a href="{{ post.url}}"><button class="button">Bekijken</button></a></p>
				</div>
			</div>
		</div>
	</a>
</div>