<div class="column">
	<a href="./M5-PSS/LWG1">					
		<div class="card">
			<img class="card-img" src="/images/onderzoeksruimten.png" alt="PSS-LWG1">
			<div class="container">
				<h3>Design Research</h3>
				<p class="title">{{title}}</p>
				<p><a href="./M5-PSS/LWG1"><button class="button">Bekijken</button></a></p>
			</div>
		</div>
	</a>
</div>