<section>
	<div class="angle-both">
		<div class="wrapper-50">
			<h1>{{title}}</h1>
			<nav class="subtitle crumbs">
				<ol>
					<li class="crumb"><a href="/">Portfolio</a></li>
					<li class="crumb">Module 1: Januari 2021</li>
				</ol>
			</nav>
		</div>
	</div>
</section>