</div>
<section>
	{% include 'divider.njk' %}
	<section>
			<div class="wrapper-50">
				<div class="row">
					{%- for post in collections.featured | reverse -%}
						{% include 'card.njk' %}
					{%- endfor -%}
				</div>
			</div>
		</div>
	</section> 
</section>
<div class="wrapper-50">