<div class="footer">	
	<div class="angle-top">
		<div class="wrapper">
			<p class="detail"><a href="/about">Over mij</a> | &copy; <script>document.write(new Date().getFullYear());</script> dennisulijn.com | All rights reserved | <a href="mailto:dennisulijn@gmail.com">contact</a></p>
		</div>
	</div>
</div>