<header class="header">
  	<div class="angle-bottom">
    	<div class="wrapper">
			<h1>{{ title }}</h1>
			<nav class="subtitle crumbs">
				<ol>
					<li class="crumb"><a href="/">Home</a></li>
					<li class="crumb"><a href="/blog/">Blog</a></li>
				</ol>
			</nav>
    	</div>
  	</div>
</header>