---
title: Blog
layout: 'base.njk'
---
       
<div class="section container">
  	<ul role="list" class="articles__list flow">
		{%- for post in collections.crede | reverse -%}
			{% include 'article-snippet.njk' %}
		{%- endfor -%}

  	</ul>
</div>

{% include 'featured.njk' %}
